<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".vue" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".vue" mimeType="text/html" />
        </staticContent>
        <httpRedirect enabled="false" destination="http://localhost:8020/" />
    </system.webServer>
</configuration>
