<div>
  验证对象类型<br>
  js 对象：{{object}} <br><br>
  reactive 对象：{{retObject1}} <br><br>
  reactive 数组：{{retArray}} <br><br>
  自己定义的22：{{myret122}} <br><br>
  <el-row>
    <el-col :span="5">
      类型
    </el-col>
    <el-col :span="5">
      isProxy
    </el-col>
    <el-col :span="5">
      isReactive
    </el-col>
    <el-col :span="5">
      isReadonly
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="5">
      js 对象
    </el-col>
    <el-col :span="5">
      {{obj.obj1}}
    </el-col>
    <el-col :span="5">
      {{obj.obj2}}
    </el-col>
    <el-col :span="5">
      {{obj.obj3}}
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="5">
      reactive 对象
    </el-col>
    <el-col :span="5">
      {{reto.obj1}}
    </el-col>
    <el-col :span="5">
      {{reto.obj2}}
    </el-col>
    <el-col :span="5">
      {{reto.obj3}}
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="5">
      自定义Proxy
    </el-col>
    <el-col :span="5">
      {{myproxy.obj1}}
    </el-col>
    <el-col :span="5">
      {{myproxy.obj2}}
    </el-col>
    <el-col :span="5">
      {{myproxy.obj3}}
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="5">
      自定义Proxy 套Reactive
    </el-col>
    <el-col :span="5">
      {{myproxyReactive.obj1}}
    </el-col>
    <el-col :span="5">
      {{myproxyReactive.obj2}}
    </el-col>
    <el-col :span="5">
      {{myproxyReactive.obj3}}
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="5">
      只读的reactive
    </el-col>
    <el-col :span="5">
      {{readRet.obj1}}
    </el-col>
    <el-col :span="5">
      {{readRet.obj2}}
    </el-col>
    <el-col :span="5">
      {{readRet.obj3}}
    </el-col>
  </el-row>
  <el-button @click="addData" type="primary">写文章</el-button>
</div>
  