<div>
  <el-row >
    <el-col :span="4">
      <router-link :to="{name:'ret-reactive'}">reactive</router-link>&nbsp;&nbsp;&nbsp;<br>
      <router-link :to="{name:'ret-readonly'}">readonly</router-link>&nbsp;&nbsp;&nbsp;<br>
      <router-link :to="{name:'ret-proxy'}">ES6的proxy</router-link>&nbsp;&nbsp;&nbsp;<br>
      <router-link :to="{name:'ret-check'}">判断类型</router-link>&nbsp;&nbsp;&nbsp;<br>
      <router-link :to="{name:'ret-let'}">响应性测试</router-link>&nbsp;&nbsp;&nbsp;<br>
      <router-link :to="{name:'ret-let'}">isReadonly</router-link>&nbsp;&nbsp;&nbsp;<br>
   
    </el-col>
    <el-col :span="19">
      <router-view></router-view>
      <hr>
      <div v-loading="loading">
        表单状态：<br>
        {{formState}}<br>
        model：{{model}}
      </div>
    </el-col>
  </el-row>
</div>
  